<p-confirmDialog></p-confirmDialog>

<!-- detail dialog -->
<app-group-form
  [formShown]="formShown"
  [formType]="formType"
  [formName]="formName"
  (close)="onFormClose()"
  (toastMessage)="toastMessage.emit($event)"
></app-group-form>
<!-- /detail dialog -->

<div class="container-fluid">
  <div class="row mt-5">
    <h2>{{ 'groups.headline' | translate }}</h2>
  </div>

  <div class="row mt-3">
    <p-button
      icon="pi pi-plus"
      [label]="'common.create' | translate"
      (onClick)="onFormOpen('create', '')"
    ></p-button>
  </div>

  <div class="row mt-5">
    <p-table [value]="groups">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'groups.name' | translate }}</th>
          <th style="width: 10%">{{ 'common.edit' | translate }}</th>
          <th style="width: 10%">{{ 'common.delete' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group>
        <tr>
          <td>{{ group.name }}</td>
          <td>
            <p-button icon="pi pi-pencil" [outlined]="true" (onClick)="onEditGroup('edit', group.name)"></p-button>
          </td>
          <td>
            <p-button icon="pi pi-trash" [outlined]="true" (onClick)="onDeleteGroup(group.name)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
