<main class="main">
  <div class="container-fluid">
    <header class="header row">
      <h1 class="text-center">{{ title }}</h1>
    </header>

    <section class="row">
      <div class="col-6">
        <app-contact-list (toastMessage)="showToastMessage($event)"></app-contact-list>
      </div>
      <div class="col-6">
        <app-group-list (toastMessage)="showToastMessage($event)"></app-group-list>
      </div>
    </section>

    <router-outlet />

    <p-toast></p-toast>

  </div>
</main>
