<p-confirmDialog></p-confirmDialog>

<!-- detail dialog -->
<app-contact-form
  [formShown]="formShown"
  [formType]="formType"
  [formEmail]="formEmail"
  (close)="onFormClose()"
  (toastMessage)="toastMessage.emit($event)"
></app-contact-form>
<!-- /detail dialog -->

<div class="container-fluid">
  <div class="row mt-5">
    <h2>{{ 'contacts.headline' | translate }}</h2>
  </div>

  <div class="row mt-3">
    <p-button
      icon="pi pi-plus"
      [label]="'common.create' | translate"
      (onClick)="onFormOpen(EnumFormType.CREATE, '')"
    ></p-button>
  </div>

  <div class="row mt-5">
    <p-treeTable [value]="files" [columns]="cols" [scrollable]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [style]="{'width': col.size}">{{ col.header }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode">
          <td *ngFor="let col of columns; let i = index; let first = first; let last = last" [style]="{'width': col.size}">
            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0 && rowData['type'] === 'Group'"></p-treeTableToggler>
            {{ rowData[col.field] }}
            <ng-container *ngIf="last && rowData['type'] !== 'Group'">
              <p-button icon="pi pi-pencil" [outlined]="true" (onClick)="onEditContact(EnumFormType.EDIT, rowData['email'])" [style]="{'margin-right': '1.5em'}"></p-button>
              <p-button icon="pi pi-trash" [outlined]="true" (onClick)="onDeleteContact(rowData['email'])"></p-button>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>

</div>
